### Data Types
- np.ndarray
- pd.Series
- pd.DataFrame

In [5]:
import numpy as np
import pandas as pd
from pprint import pprint as pp

In [16]:
# Random 1d array
numpy_1d_array = np.random.rand(3)
numpy_1d_array

array([0.31968971, 0.95452943, 0.57854844])

In [19]:
# Random Series
my_series = pd.Series(numpy_1d_array)
pp(my_series)
my_series.index = ["First", "Second", "Third"]
pp("*"*len(my_series)*10)
pp(my_series)

0    0.319690
1    0.954529
2    0.578548
dtype: float64
'******************************'
First     0.319690
Second    0.954529
Third     0.578548
dtype: float64

In [25]:
df = pd.DataFrame(np.random.rand(3,2))
df

          0         1
0  0.287905  0.115520
1  0.904663  0.778265
2  0.546050  0.407859

In [26]:
df.columns = ['C1', 'C2']
df.index = ['I1', 'I2', 'I3']

In [27]:
df

          C1        C2
I1  0.287905  0.115520
I2  0.904663  0.778265
I3  0.546050  0.407859

In [33]:
pp(df['C2'])
pp("*"*30)
type(df['C2'])

I1    0.115520
I2    0.778265
I3    0.407859
Name: C2, dtype: float64
'******************************'

pandas.core.series.Series

In [34]:
df.columns

Index(['C1', 'C2'], dtype='object')

In [ ]:
### Pandas Compatable formats
- Text Files
- Binary Files
- Relational Databases
-