### Introduction to pandas Data Structures

#### Series
- A Series is a one-dimensional array-like object containing a sequence of values and an associated array of data labels, called its index

In [1]:
import pandas as pd
import numpy as np
obj = pd.Series([4, 7, 1, 2])
obj

0    4
1    7
2    1
3    2
dtype: int64

In [2]:
obj.values

array([4, 7, 1, 2], dtype=int64)

In [3]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
obj2 = pd.Series([1, 2, 3, 4, 5], index=['One', 'Two', 'Three', 'Four', 'Five'])
obj2

One      1
Two      2
Three    3
Four     4
Five     5
dtype: int64

In [5]:
obj2['One'] = 11
obj2

One      11
Two       2
Three     3
Four      4
Five      5
dtype: int64

In [6]:
obj2[['One', 'Two', 'Five']]

One     11
Two      2
Five     5
dtype: int64

In [7]:
obj2[obj2>3]

One     11
Four     4
Five     5
dtype: int64

In [8]:
obj2 * 2

One      22
Two       4
Three     6
Four      8
Five     10
dtype: int64

In [9]:
np.exp(obj2)

One      59874.141715
Two          7.389056
Three       20.085537
Four        54.598150
Five       148.413159
dtype: float64

In [10]:
'One' in obj2

True

In [11]:
'e' in obj2

False

In [13]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata) # Keys will be stored in a sorted order. Can overwrite this by passing the index parameter
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [15]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [17]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [18]:
pd.isna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [19]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [21]:
obj4.isna() # Both method and functions available

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool