### Basics

In [1]:
%run hello_world.py

Hello, World!!!

In [2]:
a = 5
a

5

In [3]:
import numpy as np
data = { i: np.random.randn() for i in range(7) }
data

{0: -1.8846166986362878,
 1: 0.16075333165560526,
 2: -1.1261829320453647,
 3: 0.8970135618361028,
 4: 0.521064044421426,
 5: -0.9035621580560357,
 6: -1.1938779050041741}

In [4]:
print(data)

{0: -1.8846166986362878, 1: 0.16075333165560526, 2: -1.1261829320453647, 3: 0.8970135618361028, 4: 0.521064044421426, 5: -0.9035621580560357, 6: -1.1938779050041741}

### Tab Completion

In [5]:
an_apple = 27
an_example = 42

In [6]:
an_apple # an_<tab>

27

In [7]:
b = [1, 2, 3]
b.append(4) # b.<tab>

In [8]:
import datetime
datetime.datetime.now() # datetime.<tab>

# Works with file path as well as function argument

datetime.datetime(2020, 4, 29, 14, 56, 49, 508069)

### Introspection
- Using a question mark (?) before or after a variable will display some general information about the object

In [9]:
b = [1, 2, 3]
b?

In [10]:
print?

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [12]:
def add_numbers(a, b):
    """
    Adds two numbers together
    -------------------------
    Returns
    -------
    the_sum: type of arguments
    """
    return a + b

In [13]:
help(add_numbers)

Help on function add_numbers in module __main__:

add_numbers(a, b)
    Adds two numbers together
    -------------------------
    Returns
    -------
    the_sum: type of arguments

In [14]:
#Can use wildcards too
np.*load*?

### %run Command
- Runs the code as if it was running on a python shell

In [15]:
%run ipython_script_test.py

In [16]:
a = 5; b = 6; c = 7.5
result = f(a, b, c)

In [17]:
result

1.4666666666666666

### %load Command
- imports a script into a code cell

In [18]:
# %load hello_world.py
print("Hello, World!!!")
name = "Pankaj"

Hello, World!!!

In [19]:
name

'Pankaj'

### Magic Commands
- %timeit
- %automagic
- %pwd
- %matplotlib

In [20]:
a = np.random.randn(100, 100)

In [21]:
%timeit np.dot(a,a)

43.6 µs ± 7.55 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [22]:
%debug?

In [23]:
%automagic

Automagic is OFF, % prefix IS needed for line magics.

In [24]:
%pwd

'C:\\Users\\pankaj\\00_python_codes\\PythonForDataAnalysis\\PythonPractise\\PythonDataAnalysis\\PythonBasics'

In [25]:
file_path = %pwd
file_path

'C:\\Users\\pankaj\\00_python_codes\\PythonForDataAnalysis\\PythonPractise\\PythonDataAnalysis\\PythonBasics'

In [26]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [27]:
%matplotlib inline

### Python Language Basics
- Language Semantics
    - Indentation, not braces
    - Everything is an object
    - Comments
    - Function and object method calls
    - Variables and argument passing
    - Dynamic references, strong types
    - Attributes and methods
    - Duck typing
    - Imports
    - Binary operators and comparisons
    - Mutable and immutable objects
    - Scalar Types
    - Booleans
    - Type Casting
    - None
    - Dates and times

In [28]:
#Variables and argument passing

a = [1, 2, 3]
b = a # Not copied but references the same object now
a.append(4)
b

[1, 2, 3, 4]

In [29]:
a = [1, 2, 3]
b = a.copy() # Explicitly copying
b.append(4)
a

[1, 2, 3]

In [30]:
def append_list(some_list, element):
    some_list.append(element)

In [31]:
append_list(a, 10) # Pass by reference not value by default
a

[1, 2, 3, 10]

In [32]:
# Dynamic references, strong types
a = 5
type(5)

int

In [33]:
a = 5.2
type(a)

float

In [43]:
# strongly typed language

# will give an error so commenting it right now
#'5' + 5

In [35]:
# Here implicit conversion of int to float will take place
c = 5.2 + 2
print(c); print(type(c))

7.2
<class 'float'>

In [36]:
isinstance(c, float) # Will check if c object is a float

True

In [37]:
isinstance(c, (str, int)) # Can pass tuple as will. Acts like c in (str, int)

False

In [38]:
# Attributes and methods
a = 'foo'
a.endswith('o') # a.<tab>

True

#### Duck typing
- Often you may not care about the type of an object but rather only whether it has certain methods or behavior. This is sometimes called “duck typing,” after the saying “If it walks like a duck and quacks like a duck, then it’s a duck.”

In [39]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # if not iterable
        return False

In [40]:
isiterable('Pankaj')

True

In [41]:
isiterable(1)

False

#### Imports

In [42]:
# Importing hello_world.py
import hello_world # prints hello world when loaded for the 1st time only

Hello, World!!!

In [44]:
import hello_world

In [45]:
hello_world.name

'Pankaj'

#### Binary operators and comparisons

In [46]:
5 -7

-2

In [47]:
12 + 3.5

15.5

In [48]:
5 <= 2

False

In [52]:
a = [1, 2, 3]
b = a
c = a.copy()

In [50]:
b == a

True

In [51]:
b is a

True

In [53]:
c == a

True

In [55]:
c is a # False because is operator checks if both objects are the same or not

False

In [56]:
a = None
a is None

True

In [57]:
5 / 2

2.5

In [59]:
5 // 2 #Returns the integer part

2

In [60]:
2 ** 2

4

In [61]:
( 5 == 5) ^ (5 == '5') # XOR, returns true if either is true not both else false

True

In [62]:
True ^ True

False

#### Mutable and immutable objects
- Mutable: Lists, Dicts, Numpy arrays and most of the user defined types
- Immutable: Strings, Tuple

In [63]:
# List
a = [1, 2, 3]
a[1] = 'foo'
a

[1, 'foo', 3]

In [65]:
# Strings
a = 'Pankaj'
try:
    a[0] = '*' # Will return TypeError
except TypeError:
    print('Type Error returned!!!')

Type Error returned!!!

In [67]:
a_tuple = (1, 2, 3, (4, 'p'))
try:
    a_tuple[0] = 'One' # Will return TypeError
except TypeError:
    print('Type Error returned!!!')

Type Error returned!!!

#### Scalar Types
- Type: None, int, str, float, bool, bytes

In [69]:
a = 1
b = 1.4 ** 6

In [88]:
a = 'One way of writing strings'
b = 'Another way'
c = 'Yet another\'way'
d = """ ***
One more way
"""
e = r'This\is\the\last\way'

In [89]:
print(c)

Yet another'way

In [90]:
print(d)

 ***
One more way

In [91]:
d.count('\n')

2

In [92]:
print(e)

This\is\the\last\way

In [93]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [94]:
s1 = 'First'
s2 = 'Second'
s1 + s2

'FirstSecond'

In [95]:
template = '{0:.2f} are {1:s} which are equivalent to ${2:d}'

In [98]:
template.format(150.12, 'Rs', 2)

'150.12 are Rs which are equivalent to $2'

#### Dates and times

In [103]:
import datetime as dt
dt1 = dt.datetime(2020, 11, 30, 20, 30, 11)
dt1

datetime.datetime(2020, 11, 30, 20, 30, 11)

In [106]:
day1 = dt1.day
day1

30

In [107]:
dt1.date()

datetime.date(2020, 11, 30)