### Data Structures and Sequences
- ### tuple

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
nested_tup = (1,2,3), (4,5)
nested_tup

((1, 2, 3), (4, 5))

In [3]:
tuple(range(5)) # Any sequence or iterator can be converted

(0, 1, 2, 3, 4)

In [4]:
a = 'String'
tuple(a)

('S', 't', 'r', 'i', 'n', 'g')

In [5]:
a[0] # 1st element

'S'

In [6]:
tup = ([1,2], (3,4), 5, 6, 7)
try:
    tup[0] = 4 # Will give TypeError
except TypeError:
    print('TypeError encountered!!!')

TypeError encountered!!!

In [7]:
tup[0].append(10) # If it contains objects which are immutable those can be modified
tup

([1, 2, 10], (3, 4), 5, 6, 7)

In [8]:
tup + tup # Concatinate to produce new tuples

([1, 2, 10], (3, 4), 5, 6, 7, [1, 2, 10], (3, 4), 5, 6, 7)

In [9]:
tup * 2

([1, 2, 10], (3, 4), 5, 6, 7, [1, 2, 10], (3, 4), 5, 6, 7)

In [10]:
tup = (4, 5, 6)
a, b, c = tup #Unpacking tuples

In [11]:
print('a={}\tb={}\tc={}'.format(a,b,c))

a=4	b=5	c=6

In [12]:
# Variable swap
a = 5; b = 6
a, b, = b, a
print(a,'', b)

6  5

In [13]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)] #Unpacking tuple
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [14]:
value = 1,2,3,4,5,6,7,8,9,10
a, b, c, *rest = value

In [15]:
print(a,b,c)
print(rest)

1 2 3
[4, 5, 6, 7, 8, 9, 10]

In [16]:
value.count(1)

1

In [17]:
value.index(9)

8

- ### List

In [18]:
a_list = [1, 2, 3, None, 5]
a_list

[1, 2, 3, None, 5]

In [19]:
a_list[3] = 4
a_list

[1, 2, 3, 4, 5]

In [20]:
b_list = list(a_list)
b_list is a_list

False

In [21]:
b_list.append(6) # Appends in the end
b_list

[1, 2, 3, 4, 5, 6]

In [22]:
b_list.insert(0, 'Zero') #Inserts at the index position
b_list

['Zero', 1, 2, 3, 4, 5, 6]

In [23]:
b_list.pop(0) # Removes and returns the element at the index

'Zero'

In [24]:
b_list.append('Seven')

In [25]:
b_list.remove('Seven') # Searches and removes the 1st element present in the list

In [26]:
b_list

[1, 2, 3, 4, 5, 6]

In [27]:
7 in b_list

False

In [28]:
b_list + b_list

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [29]:
b_list.extend([7,8,9]) # Can append another list

In [30]:
b_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
a = [2,3,4,1,2,3,67,2,0]
a.sort()
a

[0, 1, 2, 2, 2, 3, 3, 4, 67]

In [32]:
a = ['one', 'two', 'three', 'four', 'seven', 'eight', 'seventeen']
a.sort(key=len)
a

['one', 'two', 'four', 'three', 'seven', 'eight', 'seventeen']

In [33]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [34]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [35]:
seq[:5] #first five elements

[7, 2, 3, 6, 3]

In [36]:
seq[-3:] # last 3 elements

[6, 0, 1]

In [37]:
seq[::2] # Step printing

[7, 3, 3, 6, 1]

In [38]:
seq[::-1] # Alternate way to reverse the list

[1, 0, 6, 5, 3, 6, 3, 2, 7]

#### Built-in Sequence Functions
- enumerate
- sorted
- zip
- reversed

In [39]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
result = zip(seq1, seq2)

In [40]:
list(result) # 3-3, 4th element of seq2 is truncated

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [41]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [42]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

- ### dict

In [43]:
empty_dict = {}

In [44]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [45]:
d1[7] = 'some integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'some integer'}

In [46]:
d1['a']

'some value'

In [47]:
# checking if dict contains a Key
'a' in d1

True

In [48]:
del d1['a']

In [49]:
d1

{'b': [1, 2, 3, 4], 7: 'some integer'}

In [50]:
d1['a'] = 'some value again'
d1

{'b': [1, 2, 3, 4], 7: 'some integer', 'a': 'some value again'}

In [51]:
d1.pop('a')

'some value again'

In [52]:
d1.keys()

dict_keys(['b', 7])

In [53]:
d1.values()

dict_values([[1, 2, 3, 4], 'some integer'])

In [56]:
d1.update({'b': 'value b', 'c': 'some c'}) # Replace the original dict with the new one

In [57]:
d1

{'b': 'value b', 7: 'some integer', 'c': 'some c'}

In [60]:
key_list = [1, 2, 3, 4, 5]
values = ['one', 'two', 'three', 'four', 'five']

d2 = { key:value for key, value in zip(key_list, values) }
d2

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [62]:
d2.get(3)

'three'

In [66]:
d2.get(6, 'Not found') # Can add default value if the value is not found else it returns None

'Not found'

In [67]:
d2.pop(6, 'Not found') # can add default value here as well. If not found without default value returns error

'Not found'

In [81]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for i in words:
    letter = i[0]
    if letter not in by_letter:
        by_letter[letter] = [i]
    else:
        by_letter[letter].append(i)

print(by_letter)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [82]:
hash('string')

-6384154659527146656

In [84]:
try:
    hash((1, 2, [2, 3])) # Only immutable objects can be used as dict keys
except TypeError as e:
    print(e)

unhashable type: 'list'

- ### set
    - A set is an unordered collection of unique elements. Can think of them as a dict but with only keys.
    - Sets support mathematical set operations like union, intersection, difference, and symmetric difference

In [85]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [94]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [95]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [96]:
a.union(b) # Alternative a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [97]:
a.intersection(b) # Alternative a & b

{3, 4, 5}

In [98]:
a.add(10)
a

{1, 2, 3, 4, 5, 10}

In [101]:
c = {5,32,32,3,3,23,232,}
c.clear() # Resets the set to an empty one
c

set()

In [102]:
a.remove(10)

In [103]:
a.pop()

1

In [104]:
a.issubset(b)

False

In [105]:
a.issuperset(b)

False

In [107]:
a.isdisjoint(c)

True

In [113]:
try:
    a[0] # Sets are not subscriptable
except TypeError as e:
    print('TypeError:',e)

TypeError: 'set' object is not subscriptable

In [115]:
for i in a: # But are iteratable
    print(i)

2
3
4
5

### List, Set, and Dict Comprehensions

In [118]:
# filter out strings with length 2 or less and also convert them to uppercase
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
new_list = []
for i in strings:
    if len(i) > 2:
        new_list.append(i.upper())
new_list

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [119]:
# Using list comprehensions
[i.upper() for i in strings if len(i) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [120]:
# set containing just the lengths of the strings contained in the collection
{len(i) for i in strings}

{1, 2, 3, 4, 6}

In [122]:
# Another way
set(map(len, strings))

{1, 2, 3, 4, 6}

In [132]:
# Get all names with 2 or more e in them
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
result = []
for i in all_data:
    for j in i:
        if j.count('e') >= 2:
            result.append(j)
print(result)

['Steven']

In [141]:
# Using list comprehensions (Nested List comprehensions)
[ name for names in all_data for name in names if name.count('e') >= 2]

['Steven']

In [142]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [value for tup in some_tuples for value in tup ]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]